version: '3'
services:
  db:
    image: postgres
    ports:
      - "5432"
  web:
    build: .
    command: bundle exec rackup -p 5000
    volumes:
      - ./test:/mydir
    ports:
      - "80:5000"
    links:
      - db
